#main {
	padding: 60px;
}

#map {
	overflow: hidden;
	width: 600px;
	height: 600px;
}

#airport-data, #map {
	display: inline-block;
}

#airport-data {
	vertical-align: top;
	margin-top: 150px;
}

path {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}
.airport {
	cursor: pointer;
	stroke-width: 0;
	fill: red;
	z-index: 999;
}
.route {
	fill: none;
	z-index: 998;
	stroke-width: 1px;
	stroke: lightgreen;
}