#main {
	padding: 60px;
}
#map {
	display: inline-block;
	overflow: hidden;
	width: 600px;
	height: 600px;
}

#route {
	display: inline-block;
	vertical-align: top;
	margin-top: 150px;
	border: 1px solid #ddd;
}

#airport-data {
	display: inline-block;
	vertical-align: top;
	margin-top: 150px;
	border: 1px solid #ddd;
}

#planes {
	display: inline-block;
	vertical-align: top;
	margin-top: 150px;
	border: 1px solid #ddd;
}
#planes-table {
	text-align: center;
}

#planes-table tr.hasRange{
	background-color: lightgreen;
}


#planes-table th {
	width: 100px;
}
#planes-table th:first-of-type {
	width: 140px;
}
path {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}
.airport {
	cursor: pointer;
	stroke-width: 0;
	fill: red;
}
.route {
	fill: none;
	stroke-width: 1px;
	stroke: lightgreen;
}